
<style>
:root{
    --usp-width:{{block.settings.usp-width}}px;
}
.usp-container {

  background: {{block.settings.bg}};
  margin:20px 0;

}


.usp-wrapper {
    width: 100%;
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    scroll-behavior: smooth;
    overflow-x: scroll;
    justify-content: flex-start;
    gap: .5rem;
}

.usp-wrapper::-webkit-scrollbar {
  background-color: transparent;
}

.usp-wrapper::-webkit-scrollbar-thumb {
  background-color: #000;
  height: 1px;
}

.usp-items {
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

span.content {
 font-size:{{block.settings.font-size}}px;
  text-align: center;
  font-family: inherit;
  text-transform: inherit;
  color:{{block.settings.text-color}};
}

.usp-wrapper img {
  width: 80%;
  height: auto;
  display: block;
}


.usp-items .img {
  box-shadow: 2px 2px 2px 1px #d9d8d8;
  border-radius: 50%;
  width: var(--usp-width);
  height: var(--usp-width);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fff;
}

.usp-wrapper::-webkit-scrollbar {
  display: none;
}

@media(max-width < 767px) {
  .usp-items .img {
    width: 40px;
  }

  .usp-items {
    flex: 0 0 22%;
    gap: 5px;
  }

  .usp-wrapper {
    gap: 6%;
  }
}
</style>


  <div class="usp-container">
        <div class="usp-wrapper">
        {% if block.settings.usp_icon_1_image  != blank %}
            <div class="usp-items">
                <div class="img"><img src="{{block.settings.usp_icon_1_image | image_url }}" alt="{{block.settings.usp_icon_1_title}}"></div>
                <span class="content">{{block.settings.usp_icon_1_title}}</span>
            </div>
        {% endif %}

         {% if block.settings.usp_icon_2_image  != blank %}
            <div class="usp-items">
        <div class="img"><img src="{{block.settings.usp_icon_2_image | image_url }}" alt="{{block.settings.usp_icon_2_title}}"></div>
                <span class="content">{{block.settings.usp_icon_2_title}}</span>
            </div>
        {% endif %}

         {% if block.settings.usp_icon_3_image  != blank %}
            <div class="usp-items">
           <div class="img"><img src="{{block.settings.usp_icon_3_image | image_url }}" alt="{{block.settings.usp_icon_3_title}}"></div>
                <span class="content">{{block.settings.usp_icon_3_title}}</span>
            </div>
        {% endif %}

         {% if block.settings.usp_icon_4_image  != blank %}
            <div class="usp-items">
               <div class="img"><img src="{{block.settings.usp_icon_4_image | image_url }}" alt="{{block.settings.usp_icon_4_title}}"></div>
                <span class="content">{{block.settings.usp_icon_4_title}}</span>
            </div>
        {% endif %}

        {% if block.settings.usp_icon_5_image  != blank %}
            <div class="usp-items">
               <div class="img"><img src="{{block.settings.usp_icon_5_image | image_url }}" alt="{{block.settings.usp_icon_5_title}}"></div>
                <span class="content">{{block.settings.usp_icon_5_title}}</span>
            </div>
            {% endif %}

            {% if block.settings.usp_icon_6_image  != blank %}
            <div class="usp-items">
               <div class="img"><img src="{{block.settings.usp_icon_6_image | image_url }}" alt="{{block.settings.usp_icon_6_title}}"></div>
                <span class="content">{{block.settings.usp_icon_6_title}}</span>
            </div>

            {% endif %}

        </div>
    </div>




{% schema %}
{
    "name": "Trust Badges",
     "target": "section",
    "settings": [

        {
        "type":"range",
        "id":"usp-width",
        "label":"Image Size",
        "min":40,
        "max":120,
        "step":10,
        "unit":"px",
        "default":60
        },

      {
        "type":"range",
        "id":"font-size",
        "label":"Image Title  Size",
        "min":12,
        "max":30,
        "step":1,
        "unit":"px",
        "default":12
        },
        {
            "type": "image_picker",
            "id": "usp_icon_1_image",
            "label": "USP Icon 1 Image"
        },
        {
            "type": "text",
            "id": "usp_icon_1_title",
            "label": "USP Icon 1 Title"
        },
        {
            "type": "image_picker",
            "id": "usp_icon_2_image",
            "label": "USP Icon 2 Image"
        },
        {
            "type":"text",
            "id":"usp_icon_2_title",
            "label": "USP Icon 2 Title"
        },
        {
            "type": "image_picker",
            "id": "usp_icon_3_image",
            "label": "USP Icon 3 Image"
        },
        {
            "type": "text",
            "id": "usp_icon_3_title",
            "label": "USP Icon 3 Title"
        },
         {
            "type": "image_picker",
            "id": "usp_icon_4_image",
            "label": "USP Icon 4 Image"
        },
        {
            "type": "text",
            "id": "usp_icon_4_title",
            "label": "USP Icon 4 Title"
        },
           {
            "type": "image_picker",
            "id": "usp_icon_5_image",
            "label": "USP Icon 5 Image"
        },
        {
            "type": "text",
            "id": "usp_icon_5_title",
            "label": "USP Icon 5 Title"
        },
           {
            "type": "image_picker",
            "id": "usp_icon_6_image",
            "label": "USP Icon 6 Image"
        },
        {
            "type": "text",
            "id": "usp_icon_6_title",
            "label": "USP Icon 6 Title"
        },
        {
            "type":"color",
            "id":"text-color",
            "label":"Content Color",
            "default":"#000000"
        },
        {
            "type": "color",
            "id": "bg",
            "label": "Body text",
            "default": "#ffffff"
            }
    ]
}
{% endschema %}
